body{
    text-align: center;
    font-family: 'Manrope', sans-serif;
}

#interactive-area{
    width: 900px;
    height: 550px;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 217, 217);
}

.dark-desaturated-blue {
    color: hsl(227, 35%, 25%);
}

.grayish-blue{
    color: hsl(225, 20%, 60%);
}

/*Início Estilização da Sessão Views */

#views div{
    width: auto;
    height: 60px;
    padding: 1em;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages{
    margin-right: 10%;
    padding: 50%;
}

.pricing strong{
    font-size: 40px;
}
/*Fim Estilização da Sessão Views */

/*Início Estilização da Sessão Slider */
#list{
    list-style:url(../images/check-solid.png);
    text-align: justify;
}

.col{
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
    width: 130px;
    height: 30px;
    border-radius: 15px;
    color: hsl(0, 0%, 87%);
    background-color: hsl(227, 35%, 25%);
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}